<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Papaia report</title>
<style>
	h1 {
		font-size: 1.8em;
	}
	h2 {
		background: #fc6e4a;
	}
	ul {
		background: #efeded
	}
	.date {
		font-size: 0.8em;
		margin: 5px 0px;
		padding: -5px 0px;
	}
	.warn {
		color: #cc7201;
	}
	.alert {
		color: #f51414;
		font-weight: bold;
	}
	.stats {
	    font-size: 1.0em;
		padding: 0px 0px;
		background: #efeded;
		display: grid;
        max-width: 680px;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(10px, auto);

	}
	.cell {
	    grid-column: 1;
        grid-row: 1;
	}
</style>
</head>
<body>
<h1>API report for {{ file }}</h1>
<div class="date">Generated {{ date }}</div>

<div class="stats">
    <div>Routes: {{ stats['routes'] }}</div>
    <div>Parsed: {{ stats['parsed'] }}</div>
    {% if stats['unparsed']>0 %}
    <div class="warn">Unparsed: {{ stats['unparsed'] }} </div>
    {% else %}
    <div>Unparsed: {{ stats['unparsed'] }} </div>
    {% endif %}
    {% if stats['concerns']>0 %}
    <div class="alert">Concerns: {{ stats['concerns'] }} </div>
    {% else %}
    <div>Concerns: {{ stats['concerns'] }} </div>
    {% endif %}
    <div>Inputs: {{ stats['inputs'] }}</div>
    <div>Filtered: {{ stats['filtered'] }}</div>
    <div>Safe: {{ stats['safe'] }}</div>
    {% if stats['open']>0 %}
    <div class="alert">Open: {{ stats['open'] }} </div>
    {% else %}
    <div>Open: {{ stats['open'] }} </div>
    {% endif %}
</div>

{{ concerns|safe }}

<BR><BR>
</body>
</html>